body {
  font-family: 'Open Sans',Arial ,sans-serif;
}


.navbar {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 1.5rem;
}

header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10em;
}

 h1, h2, h3, h4, h5 {
  font-family: "Oswald", Arial, sans-serif;
 }

 .about {
  font-family: 'Open Sans',Arial ,sans-serif;
 }

 .celeste {
   background-color: #BBE7FC;
 }

 h1 {
   margin:0;
   padding: 0;
 }

 p {
   font-family: 'Open Sans',Arial ,sans-serif;
   font-size: 1rem;
 }

 i {
   color: #660066;
 }

 hr {
   display: block;
   width: 10%;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-width: 0.2em;
   border-color: #373A3C;
 }

 .magdalena {
   border-color: #FFFFFF;
   width: 20%;
   margin-top: 0;
   margin-bottom: 1.5em;
   padding-top: 0;
   padding-bottom: 0;
 }

 .blanco {
   border-color: #FFFFFF;
   margin-bottom: 4em;
 }

.footer, .footer i {
color: #FFFFFF;
display: inline-block;
}
